{% extends "navbar.html" %}
{% block container %}

<div class="page-header">
  <h1 align="center">
  Config and Submit
  </h1>
</div>

<br>


<div style="margin:0 auto; vertical-align:center;" align="center">
  <form action = "" method = post>
    <fieldset>
      <legend>Contact Form</legend>
      {{ form.hidden_tag }}
      <div style = font-size:20px; font-weight:bold; margin-left:150px;>
        {{ form.token.label }}<br>
        {{ form.token }}
        <br>
        {{ form.nPush.label }}<br>
        {{ form.nPush }}
        <br>
        <br>
        {{ form.submit }}
        <br>
        <br>
      </div>
    </fieldset>
  </form>
</div>

{% endblock %}