{% extends "navbar.html" %}
{% block container %}

<br>
<br>
<div style="margin:0 auto; vertical-align:center;" align="center">
  <form class="form-horizontal" method=post action="">
    <fieldset>
      <!-- Form Name -->
      <legend><h1 align="center">Submit New Client's Sitemap</h1></legend>
      <br>
      <!-- Text input-->
      <div class="form-group">
        <label>{{ form.sitemapUrl.label }}</label>  
        <div>
        {{ form.sitemapUrl }}
        <span class="help-block">Please input a Sitemap</span>  
        </div>
      </div>
      <!-- Button (Double) -->
      <div style="margin:0 auto; vertical-align:center;" align="center">
        <label></label>
        <div style="margin:0 auto; vertical-align:center;" align="center">
          <button type="submit" id="button1id" name="button1id" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create New Client</button>
          <a href="{{ url_for("baiduIndex") }}">
          <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button></a>
        </div>
      </div>
    </fieldset>
  </form>
</div>

{% endblock %}